@using WebMatrix.Data
@{ 
    var db = Database.Open("StockDB");

    /* Upload Image */
    WebImage photo = null;
    var newFileName = "";
    var imagePath = "";
    if (IsPost)
    {
        photo = WebImage.GetImageFromRequest();
        if (photo != null)
        {
            newFileName = Guid.NewGuid().ToString() + "_" + Path.GetFileName(photo.FileName);
            imagePath = @"\ImageStore\" + newFileName;
            photo.Save(@"~\" + imagePath);
        }
        //  ,[name]
        //,[price]
        //,[categoryid]
        //,[image]
        var name = Request.Form["name"];
        var price = Request.Form["price"];
        var category = Request.Form["category"];
        var sql = "insert into product(name,price,categoryid,image) values(@0,@1,@2,@3)";
        db.Execute(sql, name, price, category, imagePath);
        <script>
            alert('บันทึกข้อมูลเรียบร้อย');
            window.location = '@string.Format("{0}{1}",Request.ApplicationPath,"index.cshtml")';
        </script>
        //Response.Redirect("index.cshtml");
    }

}

<!DOCTYPE html>
<html>
<head>
    <title>Add Product</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    @* By Pj KongRukSiam *@
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">*@
    @* <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>*@
    @*  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>*@

    @* By Nuget *@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <style>
        .vcenter {
            display: inline-block;
            vertical-align: middle;
            float: none;
        }

    </style>



</head>
<body>

    <div class="container-fluid">
        <div class="row" style="width: 100%;border-style: dotted;">
            @*div นี้ใส่ เพื่อแก้ปัญหา เปลี่ยน bootstrap v3 --> v4 แล้ว  h1 กับ form จะเรียงกันเป็น horizontal v3 จะเรียงกันเป็น vertical*@
            <div style="width: 100%;border-style: solid;">
                <h1>เพิ่มข้อมูลสินค้า</h1>
                <div class="col-md-8">
                    <form method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="usr">ชื่อสินค้า</label>
                            <input type="text" class="form-control" name="name" required />
                        </div>
                        <div class="form-group">
                            <label for="pwd">ราคาสินค้า</label>
                            <input type="text" class="form-control" name="price" required />
                        </div>

                        <div class="form-group">
                            <label for="sell" name="">ประเภทสินค้า</label>
                            @{
                                var data = db.Query("SELECT [id],[name] FROM [category]");
                            }
                            <select class="form-control" name="category">
                                @foreach (var row in data)
                                {
                                    <option value="@row["id"]">@row["name"]</option>
                                }
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="pwd">ภาพประกอบ:</label>
                            <input type="file" name="image" value="" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input type="submit" value="บันทึก" class="btn btn-success" />
                            <a href="~/index.cshtml" class="btn btn-primary">ดูข้อมูลสินค้า</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </div>

    @*<div class="container">
        <div class="row">
            <h2>Stacked form</h2>
            <form action="/action_page.php">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" name="remember"> Remember me
                    </label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>*@


</body>
</html>
