<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    @for (var i = 1; i <= 10; i++)
    {
        <h2>@i</h2>
    }

    @{
        var Student = new List<string>();
        Student.Add("สหชาติ");
        Student.Add("พัลวัล");
        Student.Add("เทวดาท่าจะบ๊อง");
        Student.Add("ใหญ่ฟัดโลก");
        Student.Add("คนเล็ก หมัดเมา");
        Student.Add("โจชิงฉือ");
        Student.Add("หลิวเต๋อหัว");
    }

    @foreach (var stud in Student)
    {
        <h3>@stud</h3>
    }
</body>
</html>
